# vim: ft=bash

# System-specific aliases

if [[ -d /mnt/c/Users ]]; then
    alias desktop="cd /mnt/c/Users/$USER"
else
    alias desktop='cd ~/Desktop'
fi

case "$(uname -s)" in
    Darwin*)
        alias win10wine='MTL_HUD_ENABLED=0 WINEESYNC=1 WINEPREFIX=/opt/Windows10 /usr/local/opt/game-porting-toolkit/bin/wine64'
        ;;
    *) ;;
esac

if command -v kitten &>/dev/null; then
    alias imgcat='kitten icat'
fi

# Mine
alias aliases='vim ~/.dot/files/.aliases'
alias funcs='vim ~/.dot/files/.functions'
alias socwd='command du -csh . | tail -1'
alias setbg="nitrogen --set-zoom-fill --random ~/.config/i3/assets/backgrounds"
alias vimrc='vim ~/.vimrc'
alias wifi='nohup nm-connection-editor &>/dev/null &!'
alias zshhist='vim ~/.zsh_history'
alias zshenv='vim ~/.zshenv'
alias zshrc='vim ~/.zshrc'

# Commands
if (( $+commands[bat] )); then
    alias cat='bat'
fi
alias bc='bc -ql'
alias diff='git diff --no-index'
alias du='du -h'
alias less='less -c'
alias lg='lazygit'
alias mkdir='mkdir -p'
alias mv='mv -i'
alias npmi='npm install'
alias pdflatex='pdflatex -file-line-error'
alias sqlite3='sqlite3 -header -column'
alias vim='nvim'
alias wget="wget --hsts-file $HOME/.local/share/wget/wget-hsts"
alias whois='whois -H'
alias zathura='zathura --fork'

# ls
LS="command ls -vhp"
case "$(uname -s)" in
    Linux*) LS="$LS --color=auto --time-style=long-iso --group-directories-first" ;;
    Darwin*) LS="$LS -G" ;;
esac
alias ls="$LS"
alias la="$LS -A"
alias ll="$LS -l"
alias lla="$LS -lA"
alias llD="$LS -ld"

# git
alias g=git

alias ga='git add --all'
alias gapa='git add --patch'

alias gbs='git bisect'
alias gbsb='git bisect bad'
alias gbsg='git bisect good'
alias gbsr='git bisect reset'
alias gbss='git bisect start'

alias gb='git branch'
alias gbd='git branch --delete'
alias 'gbd!'='git branch --delete --force'
alias gbm='git branch --move'
alias gbu='git branch --set-upstream-to'
alias gbUU='git branch --unset-upstream'
alias gbv='git branch -vv'

alias gcat='git cat-file'

alias gco='git checkout'
alias gcob='git checkout -b'
alias gcop='git checkout --patch'

alias gpi='git cherry-pick'
alias gpia='git cherry-pick --abort'
alias gpic='git cherry-pick --continue'

alias gc='git commit -v'
alias gca='git commit -v --all'
alias gcam='git commit -v --all -m'
alias gcae='git commit -v --all --amend --allow-empty --edit'
alias 'gca!'='git commit -v --all --amend --no-edit'
alias gce='git commit -v --amend --allow-empty --edit'
alias 'gc!'='git commit -v --amend --no-edit'
alias gcmsg='git commit -m'

alias gcf='git config --list'

alias gd='git diff'
alias gds='git diff --stat'
alias gdca='git diff --cached'
alias gdcas='git diff --cached --stat'
gdss() {
    local stat="$(git diff --shortstat)"
    [[ $stat =~ '([0-9]+) ins.* ([0-9]+) del' ]] &&
        echo "$stat, $(( ${match[1]} - ${match[2]} )) line delta"
}

alias gf='git fetch'

alias gi='git init'

alias glo='git log --pretty=oneline-full -24'
alias gloa='git log --pretty=oneline-full'
alias glop='git log -p'
alias glos='git log --compact-summary'
alias glgg='git log --graph'
alias glog='git log --graph --oneline --decorate'
alias gloga='git log --graph --oneline --decorate --all'

alias gm='git merge'
alias gma='git merge --abort'

alias gmv='git mv'

alias gl='git pull'

alias gp='git push'
alias 'gp!'='git push --force-with-lease'
alias gpd='git push --dry-run'
alias gpsup='git push --set-upstream origin $(git_current_branch)'

alias grb='git rebase'
alias grba='git rebase --abort'
alias grbc='git rebase --continue'
alias grbe='git rebase --edit-todo'
alias grbi='git rebase --interactive'
alias grbif='git rebase --interactive --autosquash'

alias gr='git remote'
alias gra='git remote add'
alias grget='git remote get-url'
alias grset='git remote set-url'
alias grpa='git remote | xargs git remote prune'

alias grh='git reset'
alias grhh='git reset --hard'

alias grm='git rm -r'

alias grs='git restore'
alias grsp='git restore -p'

alias gsta='git stash push'
alias gstam='git stash push -m'
alias gstaa='git stash apply'
alias gstd='git stash drop'
alias gstp='git stash pop'
alias gstl='git stash list'
alias gstls='git stash show --compact-summary'
alias gsts='git stash show --text'

alias gs='git status'
alias gss='git status -s'

alias gsa='git submodule add --depth=1'
alias gsu='git submodule update --init --recursive --depth=1'

alias gw='git switch'
alias gwc='git switch --create'
alias gwd='git switch --detach'

alias grt='cd "$(git rev-parse --show-toplevel || echo .)"'
