#!/bin/bash



case "$(uname -s)" in
Darwin)
;;
*)
battery() {
    # Get battery stats
    upower -i "$(upower -e | grep BAT)" |
        grep -E --color=never 'state|to empty|percentage'
}
;;
esac



ckeys() {
    # Run xev but show only key presses
    local regex='^.+(keycode) ([0-9]+) \((keysym) ([^,]+), ([^\)]+)\).+$'
    local replace='key: \5   \1: \2   \3: \4'
    xev -event keyboard | sed -En "/keysym/ s/$regex/$replace/p"
}



case "$(uname -s)" in
Darwin)
;;
*)
feh() {
    DISPLAY=:0 /usr/bin/feh --scale-down -x "$@" &>/dev/null & disown
}
;;
esac



case "$(uname -s)" in
Darwin)
file_birth() {
    stat -f '%SB' -t '%Y-%m-%d %I:%M:%S %p' "$@"
}
;;
*)
file_birth() {
    inode="$(stat -c %i "$1")"
    dev="$(df --output=source "$1" | tail -1)"
    sudo debugfs -R "stat <$inode>" "$dev" \
      | grep crtime \
      | cut -d ' ' -f 4-
}
;;
esac



force_wifi() {
    # Open http site to force WAP portal redirect
    xdg-open 'https://google.com' &>/dev/null & disown
}



gcl() {
    local gc='git clone --recurse-submodules'
    # git clone username/repo(.git) or repo(.git)
    # In the case without a username, it's assumed the repo is mine
    for name in "$@"; do
        local repo="${name%.git}"
        if [[ $repo =~ ^.*/$ || $repo =~ ^/.+$ ]]; then
            # Invalid repo names:
            #  abc/
            #  /abc
            #  /
            echo "invalid repo name: $repo" >&2
        elif [[ $repo =~ .+/.+ ]]; then
            # Clone someone else's repo
            eval "$gc" "https://github.com/${repo}.git"
        else
            # Clone my repo
            eval "$gc" "git@github.com:nelson137/${repo}.git"
        fi
    done
}



# Get public and private ip addresses
case "$(uname -s)" in
Darwin)
getip() {
    echo "Public:  $(curl -s https://icanhazip.com)"
    echo -n "Private:"
    ifconfig \
      | grep 'inet ' \
      | awk '$2!="127.0.0.1"{printf " %s",$2} END{printf "\n"}'
}
;;
*)
getip() {
    echo "Public:  $(curl -s https://icanhazip.com)"
    local private_ip="$(
        ip route get 1 |
        grep -oE '192\.168(\.[0-9]{1,3}){2}' |
        grep -v '^192\.168\.1\.1$'
    )"
    echo "Private: $private_ip"
}
;;
esac



is_wsl() {
    grep -qE '(Microsoft|WSL)' /proc/version 2>/dev/null
}



ping() {
    if [[ $# == 1 && "$1" == gateway ]]; then
        command ping -c3 "$(ip route | awk '/default/ {print $3}')"
    else
        command ping "$@"
    fi
}



py_include() {
    find_py_include() {
        find /usr/include -maxdepth 1 -name "$1" | sort -n | head -1
    }
    pi3=$(find_py_include 'python3*')
    pi2=$(find_py_include 'python2*')
    [[ -n "$pi3" ]] && echo "$pi3" || echo "$pi2"
}



tmuxopen() {
    local name path_ session
    name="$1"; (( $# > 0 )) && shift
    path_="$1"; (( $# > 0 )) && shift

    if [[ -z $name ]] || (( $# > 0 )); then
        echo >&2 'Usage: tmuxopen [SESSION_NAME] PATH'
        return 1
    fi

    if [[ -z $path_ ]]; then
        path_=$name
        name="${path_:t}"
    fi

    session=$(tmux list-sessions -f "#{==:#S,$name}" -F '#S')

    if [[ -z $session ]]; then
        tmux new-session -d -s "$name" -c "$path_"
        tmux new-window -d -c "$path_" -n killme
        tmux new-window -d -c "$path_" -n lazygit
        tmux kill-window -t killme
        tmux send-keys -t:lazygit lazygit Enter
    fi

    tmux attach-session -t "$name"
}



xset() {
    [[ $# == 2 && $1 == q ]] || { /usr/bin/xset "$@"; return $?; }

    local setting
    case "$2" in
        keyboard) setting='Keyboard Control' ;;
        mouse)    setting='Pointer Control' ;;
        s)        setting='Screen Saver' ;;
        p)        setting='Colors' ;;
        fp)       setting='Font Path' ;;
        dpms)     setting='DPMS \(Energy Star\)' ;;
        *)        echo "xset setting not recognized: $2" >&2; return 1 ;;
    esac

    xset q | sed -E "/$setting:/,/^\\S/!d" | sed -E '$s/^(\S)/\1/;Te;d;:e'
}
