[user]
	email = nelson.earle137@gmail.com
	name = Nelson Earle
[core]
	editor = nvim
[init]
	templateDir = ~/.git_templates
[pull]
	rebase = true
[push]
	default = simple
	autoSetupRemote = true
[color]
	diff = auto
	status = auto
	ui = auto
[pretty]
    oneline-full = %C(yellow)%h%C(reset) %s  %C(magenta)%D%C(reset)  %C(brightblack)%ah%C(reset)
