[includeIf "gitdir:/"]
	path = ~/.gitconfig.personal
[includeIf "gitdir:/opt/code/"]
	path = ~/.gitconfig.work
[init]
	defaultBranch = main
[core]
	editor = nvim
[fetch]
    prune = true
    prunetags = true
[merge]
	autoStash = true
[pull]
	rebase = true
	default = "current"
[push]
	default = simple
	autoSetupRemote = true
[rebase]
	autoStash = true
[color]
	diff = auto
	status = auto
	ui = auto
[pretty]
    oneline-full = %C(yellow)%h%C(reset) %s  %C(brightblack)%ah%C(reset)  %C(magenta)%D%C(reset)
