[user]
	email = nelson.earle137@gmail.com
	name = Nelson Earle
[core]
	editor = vim
[init]
    templateDir = ~/.git_templates
[push]
	default = simple
[color]
    diff = always
    status = always
    ui = always
