! URxvt
URxvt.transparent: true
URxvt.shading: 15
URxvt.background: black
URxvt.foreground: white
URxvt.font: xft:FiraMono-Regular:size=12
URxvt.visualBell: false
URxvt.scrollstyle: plain
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.cursorBlink: true

! Xautolock config
Xautolock.noclose: true
Xautolock.notify: 10
Xautolock.notifier: $HOME/.config/i3/scripts/locker notify
Xautolock.time: 10
Xautolock.locker: $HOME/.config/i3/scripts/locker lock
Xautolock.killtime: 10
Xautolock.killer: $HOME/.config/i3/scripts/locker suspend
