! URxvt
URxvt.transparent: true
URxvt.shading: 12
URxvt.background: black
URxvt.foreground: white
URxvt.font: xft:FiraMono-Regular:size=12
URxvt.visualBell: false
URxvt.scrollstyle: plain
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.secondaryScroll: false
URxvt.cursorBlink: true
