! URxvt
URxvt.transparent: true
URxvt.shading: 12
URxvt.background: black
URxvt.foreground: white
URxvt.font: xft:Source Code Pro for Powerline:size=12, \
            xft:Inconsolata Nerd Font Mono:size=14
URxvt.visualBell: false
URxvt.scrollstyle: plain
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.secondaryScroll: false
URxvt.cursorBlink: true
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.perl-ext-common: default,matcher
URxvt.url-matcher: xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline fg35
