confirmOnQuit: true

os:
  shellFunctionsFile: ~/.dot/shell/lazygit_functions

git:
  overrideGpg: true

gui:
  scrollOffMargin: 4
  theme:
    inactiveBorderColor: ['#606060']
    activeBorderColor: ['#60ff60']
  showRandomTip: false
  showBottomLine: true
  showIcons: true
  showRootItemInFileTree: false
  nerdFontsVersion: '3'
  useHunkModeInStagingView: true

customCommands:
  - key: 'E'
    context: 'global'
    description: 'Empty commit'
    command: 'git commit -v --allow-empty -m "empty commit"'
  - key: '<c-f>'
    context: 'localBranches'
    description: 'Fetch upstream remote'
    command: 'git fetch --no-write-fetch-head {{ .SelectedLocalBranch.UpstreamRemote }}'
    output: 'log'
  - key: '<c-l>'
    context: 'status,files,worktrees,localBranches,remotes,remoteBranches,tags,reflogCommits,stash'
    description: "Delete all tags that do not point to the same object as in 'origin'"
    command: '_git_delete_moved_tags'
    output: 'log'
  - key: '<c-f>'
    context: 'commits'
    description: 'Push selected commit'
    prompts:
      - type: 'confirm'
        title: 'Force push to branch'
        body: |
          Are you sure you want to force push?

          Push:   {{ .SelectedCommit.Hash }} -> {{ .CheckedOutBranch.Name }}
          Author: {{ .SelectedCommit.AuthorName }} <{{ .SelectedCommit.AuthorEmail }}>

          {{ .SelectedCommit.Name }}
    command: '_git_push_selected_commit "{{ .SelectedCommit.Hash }}" "{{ .CheckedOutBranch.Name }}" "{{ .CheckedOutBranch.UpstreamRemote }}" "{{ .CheckedOutBranch.UpstreamBranch }}"'
